

.md-social {
   gap: 1rem;
}
.md-social__link svg {
   transform: scale(1.7);
   transform-origin: center;
}

.md-content h1, h2, h3 {
   text-transform: uppercase;
   font-weight: bold;
}


.md-content p {
   text-align: justify;
}

.md-header__ellipsis {
   font-size: 1.5rem;
   overflow: hidden;
   text-overflow: ellipsis;
   text-transform: uppercase;
   font-weight: bolder;
   letter-spacing: -0.1px;
}

@media screen and (max-width: 50em) {
   .md-header__ellipsis {
      font-size: 1.0rem;
   }
}

.twemoji {
   vertical-align: middle !important; 
}

/*uppercasing*/
.md-nav__list {
   text-transform: uppercase;    
}
.md-tabs__link {
   text-transform: uppercase;  
}
.md-nav__title {
   font-size: 1rem;
   text-transform: uppercase;
}


.md-header__button.md-logo img, .md-header__button.md-logo svg {
   fill: currentcolor;
   display: block;
   height: 3rem;
   width: auto;
}
