/*Replace background image */
.md-main {
   background-image: url('../images/background_noise.jpg');
   background-repeat: repeat;
}
.md-header {
   background-image: url('../images/background_noise_blue.jpg');
   background-repeat: repeat;
}

.md-nav {
   background-image: url('../images/background_noise.jpg');
   background-repeat: repeat;
}

.md-nav__title {
   background-image: url('../images/background_noise_blue.jpg');
   background: transparent !important;
   box-shadow: none !important;
}


.md-footer-meta {
   background-color: rgba(0, 0, 0, 0.1);
}

.md-sidebar--primary, .md-footer, md-footer-meta {
   background-image: url('../images/background_noise.jpg');
   background-repeat: repeat;
   
}

.md-nav--primary, .md-nav--primary .md-nav .md-nav__title~.md-nav__list  {
   background-color: transparent !important; /* Remove the background color */
   background-repeat: repeat;
}

.md-nav--primary .md-nav__title~.md-nav__list {
   background-color: transparent !important; /* Change or remove the background color */
   box-shadow: none !important; /* Remove the box shadow */
}

/* Footer Adjustments */
.md-footer__title {
   margin-bottom: 0;
}

.md-footer__button svg {
   transform: scale(1.5);
}

/* Make Logo Big */
.md-header__button.md-logo img, .md-header__button.md-logo svg {
   fill: currentcolor;
   display: block;
   height: 3rem;
   width: auto;
}

/* Make Header Text Big */
.md-header__ellipsis {
   font-size: 1.5rem;
   overflow: hidden;
   text-overflow: ellipsis;
   text-transform: uppercase;
   font-weight: bolder;
   letter-spacing: -0.1px;
}
/* Resize text for smaller screens*/
@media screen and (max-width: 50em) {
   .md-header__ellipsis {
      font-size: 1.0rem;
   }
}

/* Stylize Social Links */
.md-social {
   gap: 1rem;
}

.md-social__link svg {
   transform: scale(1.7);
   transform-origin: center;
}

/* Justify Text */
.md-content p {
   text-align: justify;
}



/* Upper Casing Headers */
.md-content h1  {
   text-transform: uppercase;
   font-weight: bold;
}
.md-nav--primary .md-nav__title {
   visibility:hidden;
}
.md-nav--primary {
   text-transform: uppercase;
}
/* .md-nav--secondary {
   text-transform: uppercase;
} */
/* .md-ellipsis, .md-footer__direction {
   text-transform: uppercase;
} */
/* .md-nav__list {
   text-transform: uppercase;    
} */
/* .md-tabs__link {
   text-transform: uppercase;  
} */
.md-nav__title {
   font-size: 1rem;
   text-transform: uppercase;
}

/* Emoji Alignment*/
.twemoji {
   vertical-align: middle !important; 
}


/* shrink header */
.md-header nav{
   height:101px;
}

/* make content closer to top */
.md-container .md-main .md-main__inner{
margin-top:8px;
}

/*Code*/
:root > * {
   --md-code-bg-color: #08080f88;
}


/* Meta Data Insertions */
.md-main .date li{
   list-style-type:none;
   margin-left:5px !important;
   margin-bottom:1px !important;
}

/* Date */
.md-main .date{
   font-size: 0.6rem;
   margin-left:0px !important;
   margin-top:0px;
   margin-bottom:0px;
}

/* Heading */
.md-main h1{
   margin-bottom:0px;
}

/* Releases */
.md-main h2 {
   margin-top:15px;
}
  
/* Custom Admonition */
:root {
   --md-admonition-icon--code: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc.--><path d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3l89.3 89.4-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"/></svg>')
 }
 .md-typeset .admonition.code,
 .md-typeset details.code {
   border-color: rgb(31, 116, 164);;
 }
 .md-typeset .code > .admonition-title,
 .md-typeset .code > summary {
   background-color: rgba(9, 32, 41, 0.354);
 }
 .md-typeset .code > .admonition-title::before,
 .md-typeset .code > summary::before {
   background-color: rgb(31, 116, 164);
   -webkit-mask-image: var(--md-admonition-icon--code);
           mask-image: var(--md-admonition-icon--code);
 }